@import 'variables', 'functions';

@import url("https://use.typekit.net/pmk2wso.css");

:root {
  font-size: $baseFontSize;
  font-family: 'lato', sans-serif;
  background-color: $c-bg;
}

:global(body) {
  padding: 0;
  margin: 0;
}

.f-lato {
  font-family: 'lato', sans-serif;
}

.f-montserrat {
  font-family: 'montserrat', sans-serif;
}

.f12 {
  font-size: r(12);
}

.f14 {
  font-size: r(14);
}

.f16 {
  font-size: r(16);
}

.f18 {
  font-size: r(18);
}

.f20 {
  font-size: r(20);
}

.f24 {
  font-size: r(24);
}

.f28 {
  font-size: r(28);
}

.f36 {
  font-size: r(36);
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  margin-inline: auto;
  padding-inline: r(15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  font-family: 'lato', sans-serif;
  cursor: pointer;
}

.item-hover {
  border-inline-start: solid 4px transparent;
  transition: border-color 0.2s;

  &:hover {
    border-inline-start-color: $c-primary;
  }
}