@import 'variables', 'functions';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap');


:root {
  font-size: $baseFontSize;
  font-family: 'Lato', sans-serif;
  background-color: $c-bg;
}

.f-lato {
  font-family: 'Lato', sans-serif;
}

.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.f12 {
  font-size: r(12);
}

.f14 {
  font-size: r(14);
}

.f16 {
  font-size: r(16);
}

.f18 {
  font-size: r(18);
}

.f20 {
  font-size: r(20);
}

.f24 {
  font-size: r(24);
}

.f28 {
  font-size: r(28);
}

.f36 {
  font-size: r(36);
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  margin-inline: auto;
  padding-inline: r(15);
}